ul {
    display: block;
    list-style-type: disc;
    padding-right: 60px;
}
li {
    text-align: -webkit-match-parent;
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
body {
    margin: 0;
}
.header .menu {
    background: #303030;
    text-align: right;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.header .menu li {
    list-style: none;
    position: relative;
    display: inline-block;
    margin-left: 18px;
    text-shadow: 0 1px 2px rgb(255 255 255 / 30%);
}

.header .menu a {
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
    text-decoration: none;
    display: inline-block;
}
.menu li a:hover {
    color: #f15e2c;
}
.header .menu a img {
    margin-right: 7px;
}

/* header-navbar */
.header-navbar {
    height: 112px;
    display: grid;
    grid-template-columns: 33% 67%;
}

.navbar-logo {
    width: 13vw;
    height: 100%;
    text-align: right;
    display: block;
}

/* navbar-menu */
.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo img {
    height: 80px;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-nav li a {
    padding: 20px 5px 0px 20px;
    padding-bottom: 0px;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #000;
    position: relative;
    background-color: #fff;
    line-height: 20px;
    
}
.caret {
    margin-right: 10px;
}
.navbar-form {
    width: 280px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    align-items: center;
}
.icon-search {
    height: 25px;
    margin-right: 5px;
}

.navbar-menu li a:hover  {
    color: #f15e2c;
}
