.list-product {
    width: calc(100% - 340px);
    margin-top: 32px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
}
.banner {
    margin-bottom: 30px;
}

#list-item {
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    
}

#list-item li div img {
    width: 283px;
    height: 283px;
    margin-bottom: 20px;
}
#list-item div a, h3, h2 {
    display: block;
    text-align: center;
}  
#list-item li div h2 {
    font-size: 16px;
    color: #000;
}

#list-item li div h3 {
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

#list-item li div a:hover h2 {
    color: #f15e2c;
}